<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <header class="main-header">
      <div class="main-header-total">
        <div class="main-header-top-bar">
          <img
            src="/img/logo-mercado-liebre.svg"
            alt="Logo de la Empresa"
            class="logo"
          />
          <div class="search-bar">
            <input
              type="text"
              placeholder="Buscar productos, marcas"
              class="barra"
            />
            <button><i class="fas fa-search"></i></button>
          </div>
        </div>
        <h2 class="copy-header">
          <i class="fas fa-hand-holding-usd"></i>
          Comprá en cuotas y sin tarjeta de crédito
        </h2>
      </div>
      <nav class="main-navbar">
        <ul class="left-navbar">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
          <li>
            <a href="/register"
              >Creá tu cuenta<i class="far fa-id-card"></i>
            </a>
          </li>
          <li>
            <a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="#">Mis Compras<i class="fas fa-shopping-basket"></i> </a>
          </li>
        </ul>
      </nav>
      <div class="hamburguer-button">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <main>
      <div>
        <img
          class="banner"
          src="/img/img-home-banner.jpg"
          alt="imagen del banner"
        />
      </div>
      <h2>Basado en tu última visita</h2>
      <section>
        <article>
          <img
            src="/img/img-cafetera-moulinex.jpg"
            alt="imagen de la cafetera"
          />
          <div class="descripcion">
            <i class="fas fa-truck"></i>
            <div class="precioydescuento">
              <p class="precio">$6.770</p>
              <p class="descuento">40% off</p>
            </div>
            <strong>Cafetera Moulinex</strong>
          </div>
        </article>
        <article>
          <img src="/img/img-macbook-pro-2019.jpg" alt="imagen de MacBook" />
          <div class="descripcion">
            <i class="fas fa-truck"></i>
            <div class="precioydescuento">
              <p class="precio">$230.000</p>
              <p class="descuento">20% off</p>
            </div>
            <strong>MacBook Pro 2019</strong>
          </div>
        </article>
        <article>
          <img
            src="/img/img-samsung-galaxy-s10.jpg"
            alt="imagen del Samsung Galaxy"
          />
          <div class="descripcion">
            <i class="fas fa-truck"></i>
            <div class="precioydescuento">
              <p class="precio">$70.500</p>
              <p class="descuento">10% off</p>
            </div>
            <strong>Samsung Galaxy S10</strong>
          </div>
        </article>
        <article>
          <img src="/img/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" />
          <div class="descripcion">
            <i class="fas fa-truck"></i>
            <div class="precioydescuento">
              <p class="precio">$23.200</p>
              <p class="descuento">5% off</p>
            </div>
            <strong>SmartTv Samsung 43'</strong>
          </div>
        </article>
      </section>
      <h2>Sección de Ofertas</h2>
      <section>
        <article>
          <img
            src="/img/img-cafetera-moulinex.jpg"
            alt="imagen de la cafetera"
          />
          <div class="descripcion">
            <i class="fas fa-truck"></i>
            <div class="precioydescuento">
              <p class="precio">$6.770</p>
              <p class="descuento">40% off</p>
            </div>
            <strong>Cafetera Moulinex</strong>
          </div>
        </article>
        <article>
          <img src="/img/img-macbook-pro-2019.jpg" alt="imagen de MacBook" />
          <div class="descripcion">
            <i class="fas fa-truck"></i>
            <div class="precioydescuento">
              <p class="precio">$230.000</p>
              <p class="descuento">20% off</p>
            </div>
            <strong>MacBook Pro 2019</strong>
          </div>
        </article>
        <article>
          <img
            src="/img/img-samsung-galaxy-s10.jpg"
            alt="imagen del Samsung Galaxy"
          />
          <div class="descripcion">
            <i class="fas fa-truck"></i>
            <div class="precioydescuento">
              <p class="precio">$70.500</p>
              <p class="descuento">10% off</p>
            </div>
            <strong>Samsung Galaxy S10</strong>
          </div>
        </article>
        <article>
          <img src="/img/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" />
          <div class="descripcion">
            <i class="fas fa-truck"></i>
            <div class="precioydescuento">
              <p class="precio">$23.200</p>
              <p class="descuento">5% off</p>
            </div>
            <strong>SmartTv Samsung 43'</strong>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <section>
        <i class="fas fa-credit-card"></i> <br />
        <strong>Pagá con tarjeta o en efectivo</strong>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section>
        <i class="fas fa-gift"></i> <br />
        <strong>Envío gratis desde $ 2.500</strong>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section>
        <i class="fas fa-user-shield"></i> <br />
        <strong>Seguridad, de principio a fin</strong>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
      <section class="copyright">
        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
      </section>
    </footer>
  </body>
</html>
