<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de Usuario</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/register.css" />
  </head>
  <body>
    <header class="main-header">
      <div class="main-header-total">
        <div class="main-header-top-bar">
          <img
            src="/img/logo-mercado-liebre.svg"
            alt="Logo de la Empresa"
            class="logo"
          />
          <div class="search-bar">
            <input
              type="text"
              placeholder="Buscar productos, marcas"
              class="barra"
            />
            <button><i class="fas fa-search"></i></button>
          </div>
        </div>
        <h2 class="copy-header">
          <i class="fas fa-hand-holding-usd"></i>
          Comprá en cuotas y sin tarjeta de crédito
        </h2>
      </div>
      <nav class="main-navbar">
        <ul class="left-navbar">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
          <li>
            <a href="/register"
              >Creá tu cuenta<i class="far fa-id-card"></i>
            </a>
          </li>
          <li>
            <a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="#">Mis Compras<i class="fas fa-shopping-basket"></i> </a>
          </li>
        </ul>
      </nav>
      <div class="hamburguer-button">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <main>
      <section>
        <form action="/register" method="post"  class="formulario">
          <div class="nombreyapellido">
            <input
              type="text"
              name="nombreyapellido"
              placeholder="Nombre y Apellido"
            />
          </div>
          <div class="usuario">
            <input type="text" name="usuario" placeholder="Nombre de usuari@" />
          </div>
          <div class="email">
            <input type="email" name="email" placeholder="E-mail" />
          </div>
          <div class="date">
            <label for="date">Fecha de nacimiento</label> <br>
            <input id="date" type="date" name="date" /><i class="far fa-calendar"></i>
          </div>
          <div class="domicilio">
            <input type="text" name="domicilio" placeholder="Domicilio" />
          </div>
          <div class="perfil">
            <label for="perfil">Perfil de usuario</label><br>
            <div class="radio">
            <input
              type="radio"
              id="perfil"
              name="perfil"
              value="comprador"
            />Comprador
            <input
              type="radio"
              id="perfil"
              name="perfil"
              value="vendedor"
            />Vendedor
          </div>
        </div>
          <div class="intereses">
            <label for="intereses">Intereses</label> <br>
            <div class="checkbox">
              <input type="checkbox" name="intereses" id="intereses" value="electro" />Electro
              <input type="checkbox" name="intereses" id="intereses" value="moda" />Moda
              <input type="checkbox" name="intereses" id="intereses" value="hogar" />Hogar
              <input type="checkbox" name="intereses" id="intereses" value="jugueteria" />Juguetería
              <input type="checkbox" name="intereses" id="intereses" value="vidasana" /> Vida sana
            </div>
        </div>
          <div class="foto">
              <label for="fotodeusuario">¡Elegí tu foto de usuario!</label>
              <input type="file" name="fotodeusuario" id="fotodeusuario" accept=".jpeg, .png, .bmp, .tiff, .gif, .pdf, .png, .eps, .svg">
          </div>
          <div class="contrasenia">
            <div class="contrasenia1">
              <label for="password">Contraseña</label>
              <input type="password" name="password" id="password">
            </div>
            <div class="contrasenia2">
              <label for="confirm">Confirmar contraseña</label>
              <input type="password" name="confirm" id="confirm">
            </div>
          </div>
          <button type="submit">Enviar</button>
          <button type="reset">Borrar</button>
        </form>
    </main>
    <footer>
      <i class="fas fa-credit-card"></i>
      <section>
        <strong>Pagá con tarjeta o en efectivo</strong>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <i class="fas fa-gift"></i>
      <section>
        <strong>Envío gratis desde $ 2.500</strong>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <i class="fas fa-user-shield"></i>
      <section>
        <strong>Seguridad, de principio a fin</strong>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
      <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </footer>
  </body>
</html>
