* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  background-color: #ebebeb;
}
header {
  text-align: center;
  background-color: #eac926;
}
article {
  background-color: white;
}
h2 {
  font-size: 24px;
}
article p {
  font-size: 16px;
  color: #39b54a;
}
article strong {
  font-size: 16px;
  color: #666;
}
.precio {
  font-size: 18px;
  color: black;
}
.burger-menu {
  background-color: #1259c3;
  padding: 7px;
  border-radius: 7px;
  font-size: 25px;
  color: #fff;
  width: 30px;
  margin: 30px 0;
  display: inline-block;
  text-align: center;
}
footer {
  background-color: white;
  text-align: center;
  line-height: 10px;
  color: #666;
}
footer i {
  color: #1259c3;
}

a {
  color: black;
  text-decoration: none;
}

li {
  text-align: left;
}

.search-bar {
  text-align: left;
}
